.find-id-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 1080px;
  width: 1920px;
  text-align: center;
  font-family: Arial, sans-serif;
}

.find-id-page-logo {
  width: 700px;
  height: 300px;
  margin-bottom: 40px;
  cursor: pointer;
}

.find-id-form-section,
.find-id-result-section {
  text-align: center;
  width: 700px;
  height: auto;
  padding: 20px;
}

h2 {
font-size: 40px;
margin-bottom: 20px;
}

.find-id-input-group {
  display: flex;
  margin-bottom: 20px;
}

.find-id-input-group input {
  flex: 1;
  border: none;
  border-bottom: 2px solid #ccc;
  outline: none;
  padding: 10px;
  font-size: 24px;
}

.find-id-input-group input:focus {
  border-bottom: 2px solid #333;
}

.find-id-input-group button {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-left: 10px;
  cursor: pointer;
  font-size: 18px;
  width: 160px;
}

.find-id-input-group button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.find-id-submit-button {
  background-color: black;
  color: white;
  border: none;
  width: 100%;
  padding: 10px;
  font-size: 24px;
  cursor: pointer;
}

.find-id-error-message {
  color: red;
  margin-top: 10px;
}

.find-id-success-message {
  color: green;
  margin-top: 10px;
}
