.find-password-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 1080px;
    width: 1920px;
    font-family: 'Arial', sans-serif;
  }
  
  .find-password-page-logo img {
    width: 700px;
    margin-bottom: 30px;
    cursor: pointer;
  }
  
  .find-password-page-form,
  .find-password-reset-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 700px;
    padding: 20px;
    font-size: 24px;
  }
  
  .find-password-page-form h2,
  .find-password-reset-form h2 {
    margin-bottom: 100px;
    color: #333;
  }
  
  .find-password-page-form input[type='text'],
  .find-password-page-form input[type='email'],
  .find-password-reset-form input[type='text'],
  .find-password-reset-form input[type='password'] {
    width: 100%;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
    font-size: 24px;
    padding: 10px 5px;
    margin: 10px 0;
    transition: border-color 0.3s ease;
  }
  
  .find-password-page-form input:focus,
  .find-password-reset-form input:focus {
    border-bottom: 2px solid #333;
  }
  
  .find-password-page-form button,
  .find-password-reset-form button {
    width: 100%;
    background: #000;
    color: #fff;
    font-size: 24px;
    padding: 10px 0;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .find-password-page-form button:hover,
  .find-password-reset-form button:hover {
    background: #333;
  }
  
  .find-password-page-id-link {
    margin-top: 20px;
    color: #333;
    font-size: 20px;
  }
  
  .find-password-page-id-link span {
    color: #007bff;
    cursor: pointer;
    text-decoration: underline;
    font-size: 20px;
  }
  
  .find-password-page-error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
  }
  
  .find-password-page-success-message {
    color: green;
    font-size: 14px;
    margin-top: 10px;
  }
  